<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skripsi NLP | Kategori</title>
    <%- include('../components/head.ejs') %>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <%- include('../components/sidebar.ejs') %> <% if(messages.error) { %>
    <script>
      var msg = "<%= messages.error %>";
      Swal.fire("Gagal", msg, "error");
    </script>
    <% } %> <% if(messages.success) { %>
    <script>
      Swal.fire("Berhasil!", "Success Menambahkan Data", "success");
    </script>
    <% } %>
    <div class="content-wrapper p-3">
      <div class="d-flex align-items-center justify-content-between">
        <p class="font-weight-bold mb-0" style="font-size: 20px">
          Halaman Tambah Item
        </p>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/item">Item</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tambah</li>
          </ol>
        </nav>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card">
            <div class="card-body">
              <form method="post" id="form-login" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="kategori" class="form-label">Nama Kategori</label>
                  <select
                    class="form-control"
                    aria-label="Default select example"
                    id="kategori"
                    name="kategori"
                  >
                    <option selected value="">--pilih kategori--</option>
                    <% category.forEach(function(v, k) { %>
                    <option value="<%=v['id']%>"><%=v['nama']%></option>
                    <% } ) %>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="nama" class="form-label">Nama Item</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nama"
                    name="nama"
                    placeholder="Nama Item"
                  />
                </div>
                <div class="mb-3">
                  <label for="harga" class="form-label">Harga (Rp.)</label>
                  <input
                    type="number"
                    class="form-control"
                    id="harga"
                    name="harga"
                    placeholder="Harga"
                    value="0"
                  />
                </div>
                <div class="mb-3">
                  <label for="deskripsi" class="form-label">Deskripsi</label>
                  <textarea
                    rows="3"
                    class="form-control"
                    id="deskripsi"
                    name="deskripsi"
                    placeholder="Deskripsi"
                  ></textarea>
                </div>
                <div class="mb-3">
                  <label for="gambar" class="form-label">Gambar Item</label>
                  <input
                    class="form-control"
                    type="file"
                    id="gambar"
                    name="gambar"
                  />
                </div>
                <div class="text-right">
                  <button class="btn btn-primary" id="btn-login" type="submit">
                    <i class="fa fa-save mr-2"></i>Simpan
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../components/script.ejs') %>
  </body>
</html>
